@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body{
    background-color: aquamarine;
    height: 100vh;
    display: grid;
    justify-content: center;
    place-items: center;
}
p, span{
    font-family: "Sacramento";
    font-size: 3.2em;
    width: 100%;
    height: auto;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-shadow: .03em .03em 0 rgba(255, 59, 150, .76);
    display: contents;
    font-weight: bolder;
    overflow: hidden;
}
span{
    color: #333;
}